
#border-box{
    height: 44vh;
    background-color: #212529;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}


*{
    margin:0;
    padding: 0;
}
#h1tag{
    font-weight: bold;
    color: whitesmoke;
    font-size:300%;
}

#h2tag{
    color: whitesmoke;
    opacity: 0.5;
}