#navbar-start{
    padding-left: 40px;
   
}
#btn{
    padding-right: 4rem;
}
#cartimage{
    height: 1.1rem;
    width: 1.7rem;
    padding-right: 8px;
    padding-bottom: 2px;
}
#navbarNav{
    margin-right: 2rem;
}